*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.row{
    margin: 0;
}
.container{
    padding: 60px 0;
}
.container{
    padding: 0;
}
body{
    background: white;
    color: black;
    font-family: 'Poppins', sans-serif;
}
.container-fluid{
    padding: 0;
    width: 100%;
}
/*header*/
#nav-header{
    background-color: #2A1B0A;
    color: white;
}
.link-header{
    color: white;
    text-decoration: none;
    padding: 15px 15px;
    font-size: 17px;
    transition: 0.5s;
}
.link-header:hover{
    color: #F5F6CE;
}
a.navbar-brand{
    padding-left: 60px;
    font-family: 'Playfair Display', serif;
    font-size: 22px;
}
/*Home*/
#arq-home{
    text-align: center;
    background-image: url('img/arq01.png');
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    z-index: 5;
    font-size: 16px;
    color: #F5F6CE;
}
#arq-home h1{
    font-family: 'Playfair Display', serif;
    padding-top: 300px;
    z-index: 100;
    font-size: 48px;
    padding-bottom: 25px;
    transition: 0.3s;
}
/*Sobre*/
.main-title{
    font-size: 44px;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    text-align: center;
    padding: 42px 0;
    color: #2A1B0A;
}
.main-title::after {
    content: "";
    border-top: 2px solid #2A1B0A;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}
.sobre-futurista{
    padding-bottom: 60px;
}
.img-sobre{
    padding-bottom: 40px;
}
#title-sobre{
    margin-bottom: 25px;
    color: #2A1B0A;
}
.check{
    padding: 0;
}
.check li{
    list-style-type: none;
    padding: 4px 0;
}
.check i{
    color: #65DAF9; 
    margin-right: 10px;
}
/*Especialidades*/
#especialidades{
    text-align: center;
}
#especialidades i{
    font-size: 42px;
    padding-bottom: 15px;
}
#especialidades h4{
    padding-bottom: 15px;
}
#especialidades .col-md-4{
    padding-bottom: 35px;
}
.especialidade{
    color: #2A1B0A;
    transition: 0.5s;
}
.especialidade:hover{
    color: #8A2908;
}
/*data*/
#data{
    text-align: center;
    background: url('img/arq03.png') fixed;
    height: 40vh;
    color: white;
}
#data .col-md-3{
    margin: auto;
}
#data .col-md-3 span{
    font-size: 45px;
}
/**/
#team{
    text-align: center;
}
#team h6{
    font-size: 24px;
    color: #2A1B0A;
}
#team p{
    font-size: 14px;
    color: rgb(72, 72, 72);
}
/*trabalho*/
#trabalho{
    text-align: center;
}
.btn-jobs{
    color: #2A1B0A;
    border: 1px solid #8A2908;
    background-color: transparent;
    text-transform: none;
    margin: 0 15px 40px 15px;
    min-width: 100px;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-radius: 30px;

}
.btn-jobs.active{
    color: #FFF;
    border: 2px solid #2A1B0A;
    background-color: #2A1B0A;
}
#trabalho img{
    margin: 15px;
}
#trabalho .col-md-4{
    transition: 0.5s;
}
.esconde{
    display: none;
}
.mostrar{
    display: block;
}
#imgs-filter-jobs{
    padding: 20px 0;
}
/*Orçamento*/
#orcar{
    background-color: #2A1B0A;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-transform: uppercase;
    font-family: Roboto;
    font-size: bold;
    letter-spacing: 1.2px;
}
#orcar p{
    margin: 37px 0;
}
#orcar button{
    text-transform: uppercase;
    font-weight: bold;
    color: #2A1B0A;
    border: 1px solid #2A1B0A;
    background-color: #fff;
    min-width: 100px;
    width: auto;
    height: 40px;
    line-height: 40px;
    border-radius: 30px;
    margin-top: 15px;
    margin-left: 15px;
    transition: 0.5s;
}
#orcar button:hover{
    background-color: transparent;
    color: #FFF;
}
/*contato*/
#contato{
    text-align: center;
    border-bottom: 1px solid #2A1B0A;
    padding-bottom: 60px;
}
#contato i{
    font-size: 22px;
    border: 1px solid #2A1B0A;
    border-radius: 50%;
    padding: 20px;
    margin-bottom: 25px ;
}
#contato span{
    color: #2A1B0A;
    font-weight: 700;
}
/*email*/
#email{
    padding-top: 60px;
    color: #2A1B0A;
}
#email h3{
    padding-bottom: 50px;
}
#email .blob{
    overflow: hidden;
    width: 16rem;
    height: 16rem;
    border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
    background: rgb(138,41,8);
    background: linear-gradient(90deg, rgba(138,41,8,1) 0%, rgba(227,65,10,1) 50%, rgba(251,192,41,1) 100%);
    background-size: cover;
    background-position: center;
    animation: morph 3.75s linear infinite;
}

@keyframes morph{
    0%, 100%{
        border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
    }
    33%{
        border-radius: 72% 28% 48% 48% / 28% 28% 72% 72%;
    }
    66%{
        border-radius: 100% 56% 56% 100% / 100% 100% 56% 56%;
    }
}