html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-track{
    background-color: #2A1B0A;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(174, 174, 174);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(144, 144, 144);
    border-radius: 10px;
}
.row{
    margin: 0;
}
.container{
    padding: 60px 0;
}
.container{
    padding: 0;
}
body{
    background: white;
    color: black;
    font-family: 'Poppins', sans-serif;
}
.container-fluid{
    padding: 0;
    width: 100%;
}
/*header*/
#header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
    background: #2A1B0A;
    font-family: 'Vollkorn SC', serif;
}
#header i{
    color: #ffce96;
}
#header ul {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
#header a {
    color: #fff;
    text-decoration: none;
    padding: 13px 12px;
    font-size: 17px;
    transition: 0.5s;
    letter-spacing: 0.7px;
}
#header a:hover {
    color: #ffce96;
}
#header a span{
    border-bottom: 1px #61210B;
    padding-bottom: 10px;
    transition: 0.2s;
}
#header a span:hover{
    border-bottom: 3px solid #61210B;
    padding-bottom: 2px;
}
#header #logo {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.7px;
}
#header #menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}
#menu a {
    display: block;
    padding: 0.5rem;
}
#btn-mobile {
    display: none;
    color: #ffce96;
}
/*Home*/
#arq-home{
    text-align: center;
    background-image: url('img/arq01.png');
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    z-index: 5;
    font-size: 16px;
    color: #F5F6CE;
}
#arq-home h1{
    font-family: 'Playfair Display', serif;
    padding-top: 30vh;
    z-index: 100;
    font-size: 48px;
    padding-bottom: 25px;
    transition: 0.3s;
}
/*Sobre*/
.main-title{
    font-size: 44px;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    text-align: center;
    padding: 42px 0;
    color: #2A1B0A;
}
.sobre-futurista{
    padding-bottom: 60px;
}
.img-sobre{
    padding-bottom: 40px;
}
#title-sobre{
    margin-bottom: 25px;
    color: #2A1B0A;
}
.check{
    padding: 0;
}
.check li{
    list-style-type: none;
    padding: 4px 0;
}
.check i{
    color: #65DAF9; 
    margin-right: 10px;
}
/*Especialidades*/
#especialidades{
    text-align: center;
}
#especialidades i{
    font-size: 42px;
    padding-bottom: 15px;
}
#especialidades h4{
    padding-bottom: 15px;
}
#especialidades .col-md-4{
    padding-bottom: 35px;
}
.especialidade{
    color: #2A1B0A;
    transition: 0.5s;
}
.especialidade:hover{
    color: #8A2908;
}
/*data*/
#data{
    text-align: center;
    background: url('img/arq03.png') fixed;
    min-height: 40vh;
    color: white;
    font-family: Playfair, sans-serif;
    letter-spacing: 1.2px;
}
#data .col-md-3{
    margin: auto;
}
#data .col-md-3 span{
    font-size: 45px;
}
/**/
#team{
    text-align: center;
}
#team h6{
    font-size: 24px;
    color: #2A1B0A;
}
#team p{
    font-size: 14px;
    color: rgb(72, 72, 72);
}
/*trabalho*/
#trabalho{
    text-align: center;
}
.btn-jobs{
    color: #2A1B0A;
    border: 1px solid #8A2908;
    background-color: transparent;
    text-transform: none;
    margin: 0 15px 40px 15px;
    min-width: 100px;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-radius: 30px;

}
.btn-jobs.active{
    color: #FFF;
    border: 2px solid #2A1B0A;
    background-color: #2A1B0A;
}
#trabalho img{
    margin: 15px;
}
#trabalho .col-md-4{
    transition: 0.5s;
}
.esconde{
    display: none;
}
.mostrar{
    display: block;
}
#imgs-filter-jobs{
    padding: 20px 0;
}
/*Orçamento*/
#orcar{
    background-color: #2A1B0A;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-transform: uppercase;
    font-family: Roboto;
    font-size: bold;
    letter-spacing: 1.2px;
}
#orcar p{
    margin: 37px 0;
}
#orcar button{
    text-transform: uppercase;
    font-weight: bold;
    color: #2A1B0A;
    border: 1px solid #2A1B0A;
    background-color: #fff;
    min-width: 100px;
    width: auto;
    height: 40px;
    line-height: 40px;
    border-radius: 30px;
    margin-top: 15px;
    margin-left: 15px;
    transition: 0.5s;
}
#orcar button:hover{
    background-color: transparent;
    color: #FFF;
}
/*contato*/
#contato{
    text-align: center;
    border-bottom: 1px solid #2A1B0A;
    padding-bottom: 60px;
}
#contato i{
    font-size: 22px;
    border: 1px solid #2A1B0A;
    border-radius: 50%;
    padding: 20px;
    margin-bottom: 25px ;
}
#contato span{
    color: #2A1B0A;
    font-weight: 700;
}
/*Email*/
#email{
    padding: 60px 0;
    color: #2A1B0A;
    text-align: center;
}
#email .blob{
    margin: 50px auto;
    overflow: hidden;
    width: 12rem;
    height: 12rem;
    border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
    background: rgb(138,41,8);
    background: linear-gradient(90deg, rgba(138,41,8,1) 0%, rgba(227,65,10,1) 50%, rgba(251,192,41,1) 100%);
    background-size: cover;
    background-position: center;
    animation: morph 3.75s linear infinite;
}

@keyframes morph{
    0%, 100%{
        border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
    }
    33%{
        border-radius: 72% 28% 48% 48% / 28% 28% 72% 72%;
    }
    66%{
        border-radius: 100% 56% 56% 100% / 100% 100% 56% 56%;
    }
}
#email .itens-form{
    outline: none;
    width: 82%;
    display: inline-flex;
    padding: 5px;
    font-size: 13px;
    margin-bottom: 15px;
}
#email input{
    height: 35px;
}
#email button{
    margin: 0 auto;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    border: 1px solid #2A1B0A;
    background-color: #2A1B0A;
    min-width: 100px;
    width: auto;
    height: 39px;
    line-height: 39px;
    border-radius: 30px;
    transition: 0.5s;
}
#email button:hover{
    background-color: #fff;
    color: #2A1B0A;
    border: 1px solid #2A1B0A;
}
/*Rodapé*/
#rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 241, 241);
    color: rgb(118, 118, 118);
}
#rodape p{
    padding: 15px 0;
    margin: 0;
}
#rodape a{
    text-decoration: none;
    color: rgb(144, 144, 144);
}


/*media queries*/
@media (max-width: 481px) {
}
@media (max-width: 768px) {
    #logo{
        font-size: 0.8rem;
    }
    #menu {
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 100%;
      top: 70px;
      right: 0px;
      background: #2A1B0A;
      transition: 0.6s;
      z-index: 1000;
      height: 0px;
      visibility: hidden;
      overflow-y: hidden;
    }
    #nav.active #menu {
      height: calc(100vh - 70px);
      visibility: visible;
      overflow-y: auto;
    }
    #menu a {
      padding: 1rem 0;
      margin: 0 1rem;
      border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }
    #btn-mobile {
      display: flex;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: 0.5rem;
    }
    #hamburger {
      border-top: 2px solid;
      width: 20px;
    }
    #hamburger::after,
    #hamburger::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: 0.3s;
      position: relative;
    }
    #nav.active #hamburger {
      border-top-color: transparent;
    }
    #nav.active #hamburger::before {
      transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
    #orcar p{
        margin: 37px 0;
        padding: 0px 25px;
    }
    #email .itens-form{
        margin-top: 15px;
    }
    #imgs-filter-jobs .col-md-4 img{
        width: 321px;
    } 
  }